{% extends 'base.html' %}
{% block sub_content %}
    {% if blogs %}
        <table border-spacing="5">
        {% for blog in blogs %}
            <tr>
                <td style="padding:0 15px"><h3><a href="/blogs/{{ blog['blog_id'] }}">{{ blog['title'] }}</a></h3></td>
                {% if session.login %}
                    <td style="padding:0 15px"><a href="/edit-blog/{{ blog['blog_id'] }}" class="btn btn-primary">Edit</a></td>
                    <td style="padding:0 15px"><a href="/delete-blog/{{ blog['blog_id'] }}" class="btn btn-danger">Delete</a></td>
                {% endif %}
            </tr>
            <tr>
                <td style="padding:0 15px"><p>{{ blog['body'] }}</p></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h3>No blogs have been written. </h3>
    {% endif %}
{% endblock %}